.hero_container {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.details_container {
  height: 440px;
  background-color: white;

}
.btn{
  border-radius: 0px !important;
  margin-right: 10px !important;
}
