@import "bootstrap";

.logoimg {
  font-size: 24px;
  text-shadow: 2px solid white;
}

body {
  padding-bottom: 95px !important;
  background-color: #403f3f;
}

.label {
  margin-right: 10px;
}

.visable {
  display: block;
}

.hidden {
  display: none;
}
