.navbar-toggle {
  margin-right: 5px !important;
}
.navbar{
  margin-bottom: 0px !important;
  border: 0px solid black;
  border-radius: 0px!important;
}
.navbar-default{
  background-color: black !important;
  border-color: black !important;
}
